.heroes-list {
    margin: 20px 0;
    .heroes {
        color: white;
        padding: 25px 15px;
        border: 2px solid white;
        margin-bottom: 15px;
        border-radius: 20px;
        background: #1abc9c;
    }
}


